<h5>Add a comment:</h5>

<%= form_with model: @comment, url: ticket_comments_path(@ticket), local: true do |f| %>
  <div class='form-group'>
    <%= f.text_area :body, class: 'form-control', rows: 6 %>
  </div>

  <%= f.submit(@comment.new_record? ? 'Add Comment' : 'Update Comment', class: 'btn btn-sm btn-outline-primary')%>
<% end %>