<h4>Tickets</h4>

<% if @tickets.klass.count > 0 %>
  <%= render 'search_form' %>
<% end %>

<%= render 'tickets_table', tickets: @tickets %>

<% if logged_in? %>
  <% if Project.count > 0 %>
    <%= link_to 'New Ticket', new_ticket_path, class: 'btn btn-success' %>
  <% else %>
    <div class="alert alert-info">Please create a project before creating a ticket.</div>
  <% end %>
<% end %>