<h4><%= @ticket.name %></h4>

<p><%= @ticket.body %>
<p>Status: <%= @ticket.status %>

<p>
  <% if logged_in? %>
    <%= link_to 'Edit Ticket', edit_ticket_path(@ticket), class: 'btn btn-secondary' %>
  <% end %>
</p>
