<h4>Projects</h4>

<% if @projects.size > 0 %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Total Tickets</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= time_tag project.created_at %></td>
        <td><%= project.tickets.count %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <hr/>
  <p>There are no projects to display.</p>
<% end %>

<% if logged_in? %>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
<% end %>