<h4>Projects</h4>

<% if @projects.size > 0 %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Open Tickets</th>
      <th>Total Tickets</th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_path(project) %></td>
        <td>0</td>
        <td>0</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no projects to display.</p>
<% end %>

<%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>