<h4><%= @project.name %></h4>

<p><%= @project.description %>

<p>
  <%= link_to 'Edit Project', edit_project_path, class: 'btn btn-secondary' %>
</p>

<h5>Tickets for this project:</h5>

<%= render 'tickets/tickets_table', tickets: @project.tickets %>
