<h4><%= @project.name %></h4>

<p><%= @project.description %>

<p>
  <%= link_to '[edit]', edit_project_path %>
  <%= link_to '[delete]', project_path, method: :delete, confirm: "Are you sure?" %>
</p>
